/**  Flex布局 */
.ym-flex{
    display: flex;
}
.ym-fx{
    flex-grow: 1;
}
/**  按钮  */
.ym-btn{
    text-decoration: none;
    color: #fff;
    background-color: #26a69a;
    text-align: center;
    vertical-align: middle;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;
    width:40px;
    height:40px;
    line-height: 40px;

}
.ym-btn.small{
    width:30px;
    height:30px;
}
.ym-btn.small i{
    line-height: 30px;
}
.ym-btn .round{
    border-radius: 50%;
}
.ym-btn i{
    line-height: 40px;
}
/** 工具 **/
.round {
    border-radius: 50%;
}