<template>
    <div class="layui-fluid">
        <button type="button" class="layui-btn" click.delegate="goAddbh()"><i class="layui-icon layui-icon-add-1"></i> 添加补货员</button>
        <!-- 店铺列表 -->
        <table class="layui-table">
            <colgroup>
                <col width="100">
                <col width="200">
                <col width="200">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>电话</th>
                    <!-- <th>密码</th> -->
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr repeat.for="item of buhuo_list">
                    <td>${$index+1}</td>
                    <td>${item.nickname}</td>
                    <td>${item.phone}</td>
                    <!-- <td>${item.password}</td> -->
                    <td style="text-align:center">
                        <!-- <button class="layui-btn layui-btn-xs" click.delegate="goSeeshop(item)">查看</button>
                        <button class="layui-btn layui-btn-xs" click.delegate="goUpdateshop(item)">编辑</button> -->
                        <button class="layui-btn layui-btn-xs layui-btn-danger" click.delegate="isDel(item)"><i class="layui-icon layui-icon-delete"></i>删除</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>