<template>
    <style>
        .layui-fluid {
            background-color: #fff;
            padding: 10px;
        }

        .strx {
            color: red;
        }

        #container {
            width: 100%;
            height: 450px;
            margin: 20px 36px;
        }

        .layui-upload-img {
            width: 92px;
            height: 92px;
            margin: 0 10px 10px 0;
        }
    </style>
    <div class="layui-fluid">
        <!-- 创建管理员 -->
        <form class="layui-form" action="" id="from">

            <div class="layui-form-item layui-row">
                <div class="layui-col-md3">
                    <label class="layui-form-label"><span class="strx">*</span>昵称</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" required lay-verify="required|title" placeholder="请输入昵称"
                            autocomplete="off" class="layui-input" value.bind="admin.nickname">
                    </div>
                </div>
                <div class="layui-col-md3">
                    <label class="layui-form-label"><span class="strx">*</span>密码</label>
                    <div class="layui-input-block">
                        <input type="password" name="title" required lay-verify="required|pass" placeholder="请输入密码"
                            autocomplete="off" class="layui-input" value.bind="admin.password">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-row layui-col-space10">
                    <div class="layui-col-md3">
                        <label class="layui-form-label"><span class="strx">*</span>手机号码</label>
                        <div class="layui-input-block">
                            <input type="tel" name="phone" maxlength="11" required lay-verify="required|phone" placeholder="请输入手机号码"
                                autocomplete="off" class="layui-input" value.bind="admin.phone">
                        </div>
                    </div>
                    <div class="layui-col-md3">
                        <label class="layui-form-label">角色</label>
                        <div class="layui-input-block">
                            <select name="role_add" id="role_add" lay-filter="role_add" value.bind="admin.role">
                                <option value="admin">超级管理员</option>
                                <!-- <option value="admin_edit">普通管理员</option>
                                <option value="admin_replenishment">补货管理员</option> -->
                                <!-- <option repeat.for="item of provinceList">${item.name}</option> -->

                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <!--  <div class="layui-form-item">
                <label class="layui-form-label">复选框</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="like[write]" title="写作">
                    <input type="checkbox" name="like[read]" title="阅读" checked>
                    <input type="checkbox" name="like[dai]" title="发呆">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">开关</label>
                <div class="layui-input-block">
                    <input type="checkbox" name="switch" lay-skin="switch">
                </div>
            </div> -->
            <!-- <div class="layui-form-item">
                <label class="layui-form-label">bu'hui</label>
                <div class="layui-input-block">
                    <input type="radio" name="sex" value="男" title="男">
                    <input type="radio" name="sex" value="女" title="女" checked>
                </div>
            </div> -->
            <!-- <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">文本域</label>
                <div class="layui-input-block">
                    <textarea name="desc" placeholder="请输入内容" class="layui-textarea"></textarea>
                </div>
            </div> -->
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="from">立即提交</button>
                </div>
            </div>
        </form>

    </div>

</template>